.App {
  align-items: center;
  background-color: #282c34;
  flex-direction: column;
  justify-content: center;
  display: flex;
  text-align: center;
  color: white;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

hr {
  width: 100%;
  border: 0;
  border-top: 1px solid #fff;
  margin: 2rem 0;
}
