.temp-cards {
  display: flex;
  padding: 1rem;
}

.temp-cards li {
  list-style: none;
  margin: 1rem;
}

.temp-cards li button {
  cursor: pointer;
  margin-top: 2rem;
}

.temp-cards li .card {
  cursor: pointer;
  border-radius: 1rem;
  padding: 1rem;
  width: 200px;
  height: 240px;
  justify-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.temp-cards li .card .main-icon {
  margin: 1rem 0;
}

.temp-cards li .card .minima-maxima {
  display: flex;
}

.temp-cards li .card .minima-maxima div {
  margin: 0 0.75rem;
}

.temp-cards li .card .minima-maxima .icon {
  margin-right: 0.5rem;
}

/* destaques */

.sem-destaque {
  background-color: hsl(0, 0%, 0%, 10%);
}

.destaque {
  background-color: hsl(0, 0%, 0%, 40%);
}
