.temp-cards {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  justify-content: center;
}

.temp-cards li {
  list-style: none;
  margin: 1rem;
}

.temp-cards li button {
  cursor: pointer;
  margin-top: 2rem;
}

.temp-cards li .card {
  cursor: pointer;
  border-radius: 1rem;
  padding: 1rem;
  width: 200px;
  height: 240px;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: column;
  transition: 200ms ease-in-out;
}

.temp-cards li .card .main-icon {
  margin: 1rem 0;
}

.temp-cards li .card .minima-maxima {
  display: flex;
}

.temp-cards li .card .minima-maxima div {
  margin: 0 0.75rem;
}

.temp-cards li .card .minima-maxima .icon {
  margin-right: 0.5rem;
}

/* destaques */

.sem-destaque {
  background-color: hsl(0, 0%, 0%, 20%);
  color: hsl(220, 13%, 33%);
}

.sem-destaque:hover {
  background-color: hsl(0, 0%, 0%, 35%);
  transform: translateY(-6px);
}

.destaque-quente {
  background-color: #ff7a00;
  color: #ffefcf;
  transform: scale(1.05) rotate(2deg);
}

.destaque-frio {
  background-color: #78c4d4;
  color: #f4f9f9;
  transform: scale(1.05) rotate(-3deg);
}

.destaque-nublado {
  background-color: #bbbfca;
  color: #f4f4f2;
  transform: scale(1.05) rotate(2deg);
}

.destaque-chuvoso {
  background-color: #0e49b5;
  color: #f4f9f9;
  transform: scale(1.05) rotate(-3deg);
}
